html {
height: 100%;
width: 100%;
background: #C2DAFF;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-size: 18px;
line-height: 21px;
}

body {
display: flex;
height: 100%;
width: 100%;
margin: 0px;
}

main{
height: max-content;
min-height: 100%;
display: flex;
width: 100%;
}
#home{
flex-direction: row;
}

/*menu*/

.background{
position: absolute;
height:100%;
width:100%;
}
section{
background: #FFFFFF;
border-radius: 10px;
display: flex;
position: relative;
margin: 0 auto;
width:500px;
height:203px;
margin-top: 250px;
}
.blockName{
flex: 1;
font-weight: bold;
align-self: center;
border-bottom-width: 10px;
padding: 15px 20px 10px 20px;
}
.buttonTalk{
position: absolute;
height:100px;
width:150px;
margin-left: 50%;
position: inherit;

}

.button.disabled{

}

.button.enabled{

}